name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  actions: read
  checks: write
  contents: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: write

jobs:
  build:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          check-latest: true
          cache: yarn

      - run: yarn install
      - name: build
        if: github.actor == 'dependabot[bot]'
        run: rm -rf bin node_modules && yarn install && yarn build && yarn format && yarn lint && yarn package
      - name: unit test
        if: github.actor != 'dependabot[bot]'
        env:
          BUNDLE_ID: 'com.github.poad.*'
          PROFILE_TYPE: 'IOS_APP_ADHOC'
          ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
          API_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          API_PRIVATE_KEY: ${{ secrets.API_PRIVATE_KEY }}
        run: rm -rf bin node_modules && yarn install && yarn build && yarn format && yarn lint && yarn package && yarn test

  test:
    runs-on: macos-11
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v3

      - name: case on memory
        uses: ./
        with:
          bundle-id: 'com.github.poad.*'
          profile-type: 'IOS_APP_ADHOC'
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key: ${{ secrets.API_PRIVATE_KEY }}

      - name: prepare case file
        run: |
          echo "${{ secrets.API_PRIVATE_KEY }}" > $(pwd)/private-key.p8
          echo "API_PRIVATE_KEY_FILE=$(pwd)/private-key.p8" >> $GITHUB_ENV

      - name: case file
        uses: ./
        id: case-file
        with:
          bundle-id: 'com.github.poad.*'
          profile-type: 'IOS_APP_ADHOC'
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key-file: ${{ env.API_PRIVATE_KEY_FILE }}

      - name: debug
        run: echo ${{ steps.case-file.outputs.profiles }}

      - name: case for duration
        uses: ./
        id: case-duration
        with:
          bundle-id: 'com.github.poad.*'
          profile-type: 'IOS_APP_ADHOC'
          issuer-id: ${{ secrets.APPSTORE_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_KEY_ID }}
          api-private-key: ${{ secrets.API_PRIVATE_KEY }}
          token-duration: 600

      - name: debug
        run: echo ${{ steps.case-duration.outputs.profiles }}

  configure:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
    - name: Pull request auto merge enabler
      if: github.event_name == 'pull_request'
      uses: poad/github-pull-request-auto-merge-enable-action@v1.0.1
      with:
        pull_request_id: ${{ github.event.pull_request.node_id }}
        github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
        repository: ${{ github.event.repository.name }}
        owner: ${{ github.repository_owner }}
        merge_method: SQUASH
